body{ 
    background-color: lightblue;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.header{ 
    width: 850px;
    height: 275px;
    /* border: 5px dashed purple; */
    position: relative;
}
.header-cover{ 
    background-color: white;
    height: 80%;
    width: 850px;
    position: absolute;
    border-top: 2px solid rgb(7, 7, 75);
}
.header-cover h1, h2{ 
    position: relative;
    left: 190px;
    top:150px;
    font-family: Calibri Light;
    letter-spacing: -3px;
    line-height: 0px;
    color: darkblue
}
.header-cover h1{ 
    font-size: 40px;
    font-weight: bolder;
}
.header-text{ 
    background-color: rgb(79, 171, 228);
    position: absolute;
    top: 220px;
    left: 0px;
    height: 50px;
    width: 850px;
    border-top: 2px solid rgb(7, 7, 75);
    border-bottom:2px solid rgb(7, 7, 75);
}
.header-text ul li{ 
    display: inline;
    list-style: none;
    font-family: Calibri;
    position: relative;
    top:0px; 
    left: 150px;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    font-weight: lighter;
    border-right: 1px ridge lightblue;
}
.header-text ul li:last-child{ 
    border-right: none;
}
.profile-pic{ 
    background: rgb(7, 7, 75);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.profile-buttons{ 
    float: right;
    position: relative;
    top: -100px;
    right: 10px;
}
button{ 
    background-color: rgb(7,7,75);
    font-family: Calibri;
    color: white;
}
.about{ 
    width: 328px;
    float: left;
    border: 2px solid rgb(7, 7, 75);
    font-family: Calibri;
    background-color: white;
    padding-bottom: 20px;
}
.change-cover{
    width: 512px;
    height: 250px;
    float:right;
    border: 2px solid rgb(7, 7, 75);
    background-color: white;
}
.info h5{ 
    display: inline;
}
.info h7{ 
    font-size: 12px;
}
.info{
    position: absolute; 
    left: 670px;
    top: 320px;
    font-family: Calibri;
}
.cover{
    background-color: rgb(7, 7, 75);
    width: 500px;
    height: 150px;
    position: relative;
    left: 340px;
    top: 40px;
}
.pic{ 
    height: 60px;
    width: 60px; 
    position: relative; 
    left: 340px;
    top: 25px;
    background-color: rgb(7, 7, 75)
}
.about a{
    text-decoration: none;
    font-family: Calibri;
    font-weight: lighter;
    color: rgb(7, 7, 75);
}